html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

img {
  display: block;
}

body {
  overflow: hidden scroll;
  margin: 0;
  color: #fff;
  background: #0d061f;
  font-family: sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  width: 100%;
}

.content {
  width: 100%;
  display: block;
  z-index: 1;
  font-family: "Abel", sans-serif;
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  min-height: 20em;
  overflow: hidden;
  background: #0a0518;
  z-index: -1;
}

.floor {
  height: 200%;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-origin: content-box;
  background: #0d061f;
  background-image: linear-gradient(transparent 0, #f54171 3px, white, #f54171 6px, transparent 9px), linear-gradient(90deg, transparent 0, #f54171 3px, white, #f54171 6px, transparent 9px);
  background-size: 6em 6em;
  animation: 1s linear 1s infinite example;
}
@keyframes example {
  from {
    transform: translate(0, 0%);
  }
  to {
    transform: translate(0, -50%);
  }
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(#f54171 -100%, #240b30bd 30%, #0d061f);
}

.article {
  max-width: 70ch;
  margin: auto;
  font-size: 1.5rem;
  font-family: "Abel", sans-serif;
  font-weight: normal;
  padding: 0 1.5em 1.5em 1.5em;
}
.article a {
  color: #f54171;
  text-decoration: underline;
}
.article h1 {
  font-size: 2.5em;
  color: #ffffff;
  text-shadow: 0 0 20px #ffffff67, 0 0 90px #ffffff67;
}
.article h2 {
  font-size: 1.5em;
  color: #ffffff;
  text-shadow: 0 0 30px #ffffff67, 0 0 90px #ffffff67;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.logo {
  display: block;
  margin: 3em auto;
  padding: 1;
  max-height: 50%;
  width: 100%;
  max-width: 30em;
  padding: 1em;
  transform: scale(1) rotate(0);
  transition: transform 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  will-change: filter;
}
.logo img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.logo:hover {
  filter: drop-shadow(0 0 3em black);
  transform: scale(1.2) rotate(5deg);
}

.copy {
  margin: 0 0 0.5em 0;
  line-height: 1;
  position: relative;
  color: white;
  background: #f54171;
  padding: 0.25em;
  border-radius: 0.1225em;
  cursor: pointer;
  font-weight: bold;
}
.copy:hover:after {
  opacity: 1;
  transform: translate(-0.225em);
}
.copy::after {
  background: #000000;
  border: 2px #f54171 solid;
  border-radius: 0 0.1225em 0.1225em 0;
  padding: 0 0.25em 0 0.4em;
  opacity: 0;
  top: 0;
  box-sizing: border-box;
  position: absolute;
  content: "Copier";
  color: white;
  margin: 0 0 0 0.25em;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  height: 100%;
  z-index: -1;
  transition: transform 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translate(-100%);
}

.rules {
  background: #0a0518;
  border: 2px solid #f54171;
  border-radius: 0.25em;
}
.rules .tabs {
  width: 100%;
  display: flex;
  align-content: stretch;
  border-bottom: 2px solid #f54171;
}
.rules .tabs .tablinks {
  width: 100%;
  border-right: 2px solid #f54171;
  background: none;
  padding: 0.5em 0.5em;
  cursor: pointer;
}
.rules .tabs .tablinks:last-child {
  border-right: none;
}
.rules .tabs .tablinks.active {
  background: #f54171;
}
.rules .tabs .tablinks:hover {
  background: #f541714d;
}
.rules .tabs .tablinks:hover.active {
  background: #f54171;
}

ul.rules-tab {
  list-style-type: none;
  padding: 1em 1em 0 1em;
}

.rules-tab {
  padding: 1em 1em 0 2.5em;
  display: none;
  height: 10em;
  overflow: hidden scroll;
  margin: 0;
}
.rules-tab::-webkit-scrollbar {
  width: 0.75em;
}
.rules-tab::-webkit-scrollbar-thumb {
  display: block;
  background: #ffffff;
  border: 0.25em solid transparent;
  background-clip: padding-box;
  border-radius: 1em;
  padding: 1em;
}
.rules-tab::-webkit-scrollbar-thumb:hover {
  border: 0.25em solid transparent;
}
.rules-tab::-webkit-scrollbar-track {
  background: transparent;
}
.rules-tab.active {
  display: block;
}
.rules-tab li {
  margin-bottom: 1em;
}
.rules-tab h3 {
  margin: 0;
  font-size: 1em;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 20px #ffffff67, 0 0 90px #ffffff67;
}

.alert {
  position: absolute;
  top: 0.5em;
  border-radius: 0.5em;
  border: 2px solid #f54171;
  background: #0a0518;
  color: #fff;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 1em;
  text-align: center;
  transform: translate(0, -150%);
  transition: transform 300ms linear;
}
.alert.visible {
  transform: translate(0, 0);
}

@media only screen and (max-width: 880px) {
  .tabs {
    font-size: 1rem;
  }

  .rules-tab {
    padding: 0.5em 0.5em 0.5em 1.5em;
  }

  .article {
    padding: 1em;
  }
}

/*# sourceMappingURL=plainstyle.css.map */
